{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": true,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"]
}
